---

const lineage = [
  "Tani", "Nito", "Topo", "Poni", "Nikam",
  "Kamki", "Kiyu", "Yua", "Agam", "Gamdo"
];
---

<div class="w-full overflow-x-auto bg-white">
  <div class="flex flex-col items-center py-10 px-8 min-w-[400px] font-sans">

    <div class="flex flex-col items-center">
      {lineage.map((name, i, arr) => (
        <div class="flex flex-col items-center">
          <div class="w-40 py-1.5 border border-black text-center text-sm font-semibold bg-white">
            {name}
          </div>
          {i < arr.length - 1 && (
            <div class="flex flex-col items-center">
              <div class="w-px h-5 bg-black"></div>
              <div class="w-0 h-0 border-l-[5px] border-l-transparent border-r-[5px] border-r-transparent border-t-[7px] border-t-black"></div>
            </div>
          )}
        </div>
      ))}
    </div>

    <div class="w-px h-6 bg-black"></div>
    <div class="relative flex w-[300px] justify-between">
      <div class="absolute top-0 left-[64px] right-[64px] h-px bg-black"></div>

      <div class="flex flex-col items-center w-32">
        <div class="w-px h-5 bg-black"></div>
        <div class="w-0 h-0 border-l-[5px] border-l-transparent border-r-[5px] border-r-transparent border-t-[7px] border-t-black"></div>
        <div class="w-32 py-1.5 border border-black text-center text-sm font-semibold bg-white">
          Dolin
        </div>
      </div>

      <div class="flex flex-col items-center w-32">
        <div class="w-px h-5 bg-black"></div>
        <div class="w-0 h-0 border-l-[5px] border-l-transparent border-r-[5px] border-r-transparent border-t-[7px] border-t-black"></div>
        <div class="w-32 py-1.5 border border-black text-center text-sm font-semibold bg-[#fbe7a1]">
          Doley
        </div>
      </div>

    </div>

  </div>
</div>