<div class="w-full overflow-x-auto bg-white">
  <div class="flex flex-col items-center py-10 px-8 min-w-[960px] font-sans">

    <div class="flex flex-col items-center">
      {[
        "Do:ni","Nibo","Bogo","Godang","Da:no","Nokong",
        "Ko:bo","Bolong","Lo:yi","Yidong","Do:lo",
        "Lokung","Kumíng","Mílong","Longgíng"
      ].map((name, i, arr) => (
        <div class="flex flex-col items-center">
          <div class="w-40 py-1.5 border border-black text-center text-sm font-semibold bg-white">
            {name}
          </div>
          {i < arr.length - 1 && (
            <div class="flex flex-col items-center">
              <div class="w-px h-5 bg-black"></div>
              <div class="w-0 h-0 border-l-[5px] border-l-transparent border-r-[5px] border-r-transparent border-t-[7px] border-t-black"></div>
            </div>
          )}
        </div>
      ))}
    </div>

    <div class="w-px h-6 bg-black"></div>

    <div class="relative flex w-[780px] justify-between">
      <div class="absolute top-0 left-[72px] right-[72px] h-px bg-black"></div>

      <div class="flex flex-col items-center w-36">
        <div class="w-px h-6 bg-black"></div>
        <div class="w-36 py-1.5 border border-black text-center text-sm font-semibold bg-white">Gípang</div>

        <div class="w-px h-5 bg-black"></div>
        <div class="relative flex w-[272px] justify-between">
          <div class="absolute top-0 left-[64px] right-[64px] h-px bg-black"></div>
          <div class="flex flex-col items-center w-32">
            <div class="w-px h-5 bg-black"></div>
            <div class="w-0 h-0 border-l-[5px] border-l-transparent border-r-[5px] border-r-transparent border-t-[7px] border-t-black"></div>
            <div class="w-32 py-1.5 border border-black text-center text-xs font-semibold bg-[#fbe7a1]">
              Panggam
            </div>
          </div>
          <div class="flex flex-col items-center w-32">
            <div class="w-px h-5 bg-black"></div>
            <div class="w-0 h-0 border-l-[5px] border-l-transparent border-r-[5px] border-r-transparent border-t-[7px] border-t-black"></div>
          </div>
          <div class="w-32 py-1.5 border border-black text-center text-xs font-semibold bg-[#fbe7a1]">Panggíng</div>
        </div>
      </div>

      <div class="flex flex-col items-center w-36">
        <div class="w-px h-6 bg-black"></div>
        <div class="w-36 py-1.5 border border-black text-center text-sm font-semibold bg-white">Gíla</div>
        <div class="w-px h-5 bg-black"></div>
        <div class="w-0 h-0 border-l-[5px] border-l-transparent border-r-[5px] border-r-transparent border-t-[7px] border-t-black"></div>
        <div class="w-32 py-1.5 border border-black text-center text-xs font-semibold bg-[#fbe7a1]">Lagachu</div>
      </div>

      <div class="flex flex-col items-center w-36">
        <div class="w-px h-6 bg-black"></div>
        <div class="w-36 py-1.5 border border-black text-center text-sm font-semibold bg-white">Gíno</div>
        <div class="w-px h-5 bg-black"></div>
        <div class="w-0 h-0 border-l-[5px] border-l-transparent border-r-[5px] border-r-transparent border-t-[7px] border-t-black"></div>
        <div class="w-36 py-1.5 border border-black text-center text-sm font-bold bg-[#fbe7a1]">Noroh</div>

        <div class="w-px h-5 bg-black"></div>
        <div class="relative flex w-[380px] justify-between">
          <div class="absolute top-0 left-[56px] right-[56px] h-px bg-black"></div>

          <div class="flex flex-col items-center w-28">
            <div class="w-px h-5 bg-black"></div>
            <div class="w-0 h-0 border-l-[5px] border-l-transparent border-r-[5px] border-r-transparent border-t-[7px] border-t-black"></div>
            <div class="w-28 py-1.5 border border-black text-center text-xs font-semibold bg-white">Robo</div>

            <div class="w-px h-5 bg-black"></div>
            <div class="relative flex w-[196px] justify-between">
              <div class="absolute top-0 left-[40px] right-[40px] h-px bg-black"></div>
              <div class="flex flex-col items-center w-20">
                <div class="w-px h-5 bg-black"></div>
                <div class="w-0 h-0 border-l-[5px] border-l-transparent border-r-[5px] border-r-transparent border-t-[7px] border-t-black"></div>
              </div>
              <div class="w-20 py-1 border border-black text-center text-xs font-medium bg-white">Bolíng</div>
              <div class="flex flex-col items-center w-20">
                <div class="w-px h-5 bg-black"></div>
                <div class="w-0 h-0 border-l-[5px] border-l-transparent border-r-[5px] border-r-transparent border-t-[7px] border-t-black"></div>
                <div class="w-20 py-1 border border-black text-center text-xs font-medium bg-white">Boka</div>
              </div>
            </div>
          </div>

          <div class="flex flex-col items-center w-28">
            <div class="w-px h-5 bg-black"></div>
            <div class="w-0 h-0 border-l-[5px] border-l-transparent border-r-[5px] border-r-transparent border-t-[7px] border-t-black"></div>
            <div class="w-28 py-1.5 border border-black text-center text-xs font-semibold bg-white">Rada</div>
            <div class="w-px h-5 bg-black"></div>
            <div class="w-0 h-0 border-l-[5px] border-l-transparent border-r-[5px] border-r-transparent border-t-[7px] border-t-black"></div>
            <div class="w-28 py-1.5 border border-black text-center text-xs italic font-medium bg-white">Dangga</div>

            <div class="w-px h-5 bg-black"></div>
            <div class="relative flex w-[236px] justify-between">
              <div class="absolute top-0 left-[48px] right-[48px] h-px bg-black"></div>

              <div class="flex flex-col items-center w-24">
                <div class="w-px h-5 bg-black"></div>
                <div class="w-0 h-0 border-l-[5px] border-l-transparent border-r-[5px] border-r-transparent border-t-[7px] border-t-black"></div>
                <div class="w-24 py-1 border border-black text-center text-xs font-semibold bg-white">Gaki</div>
                <div class="w-px h-5 bg-black"></div>
                <div class="w-0 h-0 border-l-[5px] border-l-transparent border-r-[5px] border-r-transparent border-t-[7px] border-t-black"></div>
                <div class="w-24 py-1 border border-black text-center text-xs font-semibold bg-white">Kipo</div>

                <div class="w-px h-5 bg-black"></div>
                <div class="relative flex w-[172px] justify-between">
                  <div class="absolute top-0 left-[32px] right-[32px] h-px bg-black"></div>
                  <div class="flex flex-col items-center w-16">
                    <div class="w-px h-5 bg-black"></div>
                    <div class="w-0 h-0 border-l-[5px] border-l-transparent border-r-[5px] border-r-transparent border-t-[7px] border-t-black"></div>
                    <div class="w-16 py-1 border border-black text-center text-[11px] font-medium bg-white">Poba</div>
                  </div>
                  <div class="flex flex-col items-center w-16">
                    <div class="w-px h-5 bg-black"></div>
                    <div class="w-0 h-0 border-l-[5px] border-l-transparent border-r-[5px] border-r-transparent border-t-[7px] border-t-black"></div>
                    <div class="w-16 py-1 border border-black text-center text-[11px] font-semibold bg-[#fbe7a1]">Pogag</div>
                  </div>
                </div>
              </div>

              <div class="flex flex-col items-center w-24">
                <div class="w-px h-5 bg-black"></div>
                <div class="w-0 h-0 border-l-[5px] border-l-transparent border-r-[5px] border-r-transparent border-t-[7px] border-t-black"></div>
                <div class="w-24 py-1 border border-black text-center text-xs font-semibold bg-white">Gasin</div>
                <div class="w-px h-5 bg-black"></div>
                <div class="w-0 h-0 border-l-[5px] border-l-transparent border-r-[5px] border-r-transparent border-t-[7px] border-t-black"></div>
                <div class="w-24 py-1 border border-black text-center text-xs font-semibold bg-[#fbe7a1]">Sinte</div>
              </div>

            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>